

.printCol{
	width:1in;
	border-style:solid;
	border-width:1px;
	border-color:darkgrey;
	font-size:14px;
	font-weight:'bold';
	text-align: center;
	
}
.printCell{
	text-align: center;
	width:0.75in;
	width:1in;
	border-style:solid;
	border-width:1px;
	border-color:lightgrey;
	padding:0;
}

.printRow{
	height:0.36in;
	font-size:11px;
	vertical-align:top;
	
}
